:root {
  --font-family: "Urbanist", sans-serif;
  --font-size: 14px;
  --font-weight-bold: 600;
  --font-weight-regular: 400;

  --color-white: #ffffff;
  --color-light-green: #9dd762;
  --color-mint-green: #79efb1;
  --color-light-blue: #6bd1e9;
  --color-dark-blue: #213549;
  --color-dark-background: #101215;
  --color-green-highlight: #1dcc8b;
  --color-gray-lines: #39414c;
  --color-hover-bg: #292e33;

  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;

  --border-radius-small: 8px;
  --border-radius-large: 12px;

  --time-cell-height: 80px;

  --event-padding: 12px;
  --event-title-size: 16px;
  --event-subtitle-size: 14px;
  --event-time-size: 12px;

  --shadow-soft: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.weekly-view__container {
  // background-color: green;

  .vuecal--week-view {
    .vuecal__header {
      .vuecal__menu {
        // Settimana
      }

      .vuecal__title-bar {
        .vuecal__arrow {
        }
        .vuecal__arrow--prev {
        }

        .vuecal__title {
        }
      }

      .vuecal__weekdays-headings {

        .vuecal__heading {
          height: 80px;
        
          .vuecal__flex {
        
            .weekday-label {

              div {
                display: flex;
                align-items: center; 
        
                .day {
                  font-weight: bold;
                  font-size: 28px;
                  margin: 0;
                  padding: 0;
                  padding-right: 10px;
                }
        
                .week-time {
                  display: flex;
                  flex-direction: column;
                  gap: 0;
                  align-items: start;
        
                  .week-day-name {
                    margin: 0;
                    padding: 0;
                    font-size: 14px;
                    font-weight: var(--font-weight-regular);
                    color: var(--color-light-blue);
                  }
        
                  .day-time {
                    font-size: 12px;
                    color: var(--color-gray-lines);
                    margin: 0;
                    padding: 0;
                  }
                }
              }
            }
          }
        }
        

      }
    }

    .vuecal__body {
      .vuecal__flex {
        .vuecal__bg {
          .vuecal__flex {
            .vuecal__time-column {
              width: max-content;
              .vuecal__time-cell {

                display: flex;
                justify-content: center;
                align-items: center;

                .time-value{
                  color: var(--color-gray-lines);
                  margin: 0;
                  padding: 0;
                }
              }
            }

            .vuecal__cells {
              .vuecal__flex {
                .vuecal__cell {
                  // .vuecal__cell-content {
                  // }

                  // &.vuecal__cell--has-events {

                  //   .vuecal__cell-content {
                  //     .vuecal__cell-events {
                  //       .vuecal__event {
                  //         background-color: var(--color-light-green);
                  //         padding: 8px;
                  //         border-radius: 12px;

                  //         .vuecal__event-title {
                  //           font-weight: bold;
                  //           font-size: 1.2rem;
                  //           text-align: start;
                  //         }
                  //       }
                  //     }
                  //   }
                  // }
                }
              }
            }
          }
        }
      }
    }
  }
}
